name: Deploy to Hostinger

on:
  push:
    branches:
      - main   # déploie quand tu pushes sur main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
            node-version: 20

      - name: Install deps
        run: npm ci

      - name: Build project
        run: npm run build

      # si ton build est dans dist/ (Vite)
      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 21
          protocol: ftp          # si ton compte accepte FTPS, remplace par ftps
          local-dir: dist/       # dossier généré par npm run build
          server-dir: ${{ secrets.FTP_REMOTE_DIR }}
          log-level: verbose
